<div class="subject-list">
    <h2>Subjects and Their Teachers</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Subject Name</th>
          <th>Language</th>
          <th>Class Name</th>
          <th>Teacher Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjectsWithTeachers">
          <td>{{ subject.subjectName }}</td>
          <td>{{ subject.language }}</td>
          <td>{{ subject.className }}</td>
          <td>{{ subject.teacherName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  