<div class="container">
    <h2>Add New Subject</h2>
  
    <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Subject Name</label>
        <input type="text" [formControl]="getControl('name')" class="form-control" />
        <div *ngIf="submitted && getControl('name').errors" class="text-danger">
          Subject name is required.
        </div>
      </div>
  
      <div class="form-group">
        <label>Language</label>
        <input type="text" [formControl]="getControl('language')" class="form-control" />
        <div *ngIf="submitted && getControl('language').errors" class="text-danger">
          Language is required.
        </div>
      </div>
  
      <div class="form-group">
        <label>Select Teacher</label>
        <select [formControl]="getControl('teacherId')" class="form-control">
          <option *ngFor="let teacher of teachers" [value]="teacher.teacherId">{{ teacher.name }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label>Select Class</label>
        <select [formControl]="getControl('classId')" class="form-control">
          <option *ngFor="let class of classes" [value]="class.classId">{{ class.className }}</option>
        </select>
      </div>
  
      <button type="submit" class="btn btn-primary">Save Subject</button>
    </form>
  </div>
  