<div class="container">
    <h2>Add New Student</h2>
  
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" [formControl]="getControl('name')" class="form-control" />
        <div *ngIf="submitted && getControl('name').errors" class="text-danger">
          Name is required.
        </div>
      </div>
  
      <div class="form-group">
        <label>Age</label>
        <input type="number" [formControl]="getControl('age')" class="form-control" />
        <div *ngIf="submitted && getControl('age').errors" class="text-danger">
          Age is required.
        </div>
      </div>
  
      <div class="form-group">
        <label>Class Roll Number</label>
        <input type="number" [formControl]="getControl('classRollNumber')" class="form-control" />
        <div *ngIf="submitted && getControl('classRollNumber').errors" class="text-danger">
          Roll number is required.
        </div>
      </div>
  
      <div class="form-group">
        <label>Class</label>
        <select [formControl]="getControl('classId')" class="form-control">
          <option *ngFor="let class of classes" [value]="class.classId">{{ class.className }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label>Upload Image</label>
        <input type="file" (change)="onFileChange($event)" class="form-control" />
      </div>
  
      <button type="submit" class="btn btn-primary">Save Student</button>
    </form>
  </div>
  